server:
  port: 8080

log:
  level: "info" # debug, info, warn, error
  debug: false  # true activates GORM SQL logs and Gin debug mode

database:
  type: "sqlite" # sqlite or postgres
  sqlite:
    file: "data/flows.db" # Pour Docker, utilisez "data/flows.db" pour la persistence
  postgres:
    host: "localhost"
    port: 5432
    user: "postgres"
    password: "password"
    dbname: "flow_manager"
    sslmode: "disable"

auth:
  type: "local" # local, proxy, or oidc
  proxy:
    header_user: "Auth-User"
    header_role: "Auth-Groups"
    role_mappings:
      "admin_group": "admin"
      "network_team": "actor"
  oidc:
    issuer: "https://auth.example.com"
    client_id: "flow-manager"
    client_secret: "votre-secret"
    redirect_url: "http://localhost:8080/oidc/callback"
    groups_claim: "groups"
    insecure_skip_verify: false # Mettre à true si vous utilisez un certificat auto-signé
    role_mappings:
      "admins": "admin"
      "it-ops": "actor"
      "it-users": "requestor"
